* { font-family: 'Montserrat', sans-serif !important; box-sizing: border-box; }

* .grecaptcha-badge { display: none !important; }

* i.fab { font-family: "Font Awesome 5 Brands" !important; }

* i.fas { font-family: "Font Awesome 5 Free" !important; }

* i.far { font-family: "Font Awesome 5 Free" !important; }

* ul, * li, * h1, * h2, * h3, * h4, * h5, * h6, * p { padding: 0px; margin: 0px; }

* body { overflow-x: hidden; margin: 0px !important; }

* em { font-weight: 400 !important; }

* .site { position: relative; }

span.blue { color: #04a6e1 !important; }

span.green { color: #60a511 !important; }

span.thin { font-weight: 300 !important; }

span.thick { font-weight: 600 !important; }

.catalog-download { background-image: url("../images/catalog-download-background.jpg"); background-size: cover; background-repeat: no-repeat; background-position: 50% 50%; padding: 90px 0px; text-align: center; }

.catalog-download .catalog-content { padding: 15px; border: 3px dashed #ffffff; }

.catalog-download .catalog-content p { position: relative; top: 5px; font-size: 28px; color: #ffffff; font-weight: 400; display: inline-block; margin-right: 30px; text-shadow: 2px 2px 5px #3c3c3c; margin-bottom: 30px; }

@media (min-width: 992px) { .catalog-download .catalog-content p { margin-bottom: 0px; } }

.catalog-download .catalog-content a { display: inline-block; }

.group-of-companies .title { font-size: 48px; text-align: center; padding: 30px 0px; font-weight: 300; }

@media (min-width: 1200px) { .group-of-companies .custom-flex-wrapper { display: flex; justify-content: center; } }

.group-of-companies .company { padding: 90px 45px 90px 45px; position: relative; background-size: cover; background-repeat: no-repeat; background-position: 50% 50%; width: 100%; }

@media (min-width: 1200px) { .group-of-companies .company { padding: 180px 90px 180px 90px; width: 33.33%; } }

.group-of-companies .company.corporate { background-image: url("../images/companies-corporate.jpg"); }

.group-of-companies .company.toronto { background-image: url("../images/companies-toronto.jpg"); }

.group-of-companies .company.spading { background-image: url("../images/companies-spading.jpg"); }

.group-of-companies .company .dashed-border { position: absolute; top: 2%; left: 2%; bottom: 2%; right: 2%; margin: 0 auto; border: 1px dashed #ffffff; }

.group-of-companies .company .company-title { color: #ffffff; font-size: 24px; margin-bottom: 15px; font-weight: 600; }

.group-of-companies .company p { color: #ffffff; font-size: 15px; font-weight: 400; line-height: 28px; }

@media (min-width: 1200px) { .group-of-companies .company p { max-width: 380px; } }

.group-of-companies .company .button-area { margin-top: 30px; }

.group-of-companies .company .button-area a { position: relative; z-index: 10; }

.contact-promo { background-image: url("../images/contact-promo-background.jpg"); background-size: cover; background-repeat: no-repeat; background-position: 50% 50%; padding: 45px 0px; text-align: center; }

.contact-promo .catalog-content { padding: 15px; }

.contact-promo .catalog-content p { position: relative; top: 5px; font-size: 28px; color: #ffffff; font-weight: 400; display: inline-block; margin-right: 30px; text-shadow: 2px 2px 5px #3c3c3c; }

.contact-promo .catalog-content a { display: inline-block; }

a.custom-button { padding: 15px 40px; text-transform: uppercase; border-radius: 0px; font-weight: 600; }

a.custom-button.blue { background-color: #04a6e1; color: #ffffff; }

a.custom-button.blue:hover { color: #182a3e; background-color: #60a511; }

a.custom-button.green { background-color: #60a511; color: #ffffff; }

a.custom-button.green:hover { color: #182a3e; background-color: #04a6e1; }

a.custom-button.white { background-color: #ffffff; color: #60a511; }

a.custom-button.white:hover { color: #182a3e; background-color: #04a6e1; }

a, button { transition: all 0.5s ease; outline: 0 !important; text-decoration: none !important; }

.custom-header-area { background-size: cover; background-repeat: no-repeat; background-position: 50% 50%; padding: 180px 0px 120px 0px; }

.custom-header-area .title h1 { text-align: center; color: #ffffff; font-weight: 600; text-shadow: 2px 2px 5px #3c3c3c; font-size: 60px; }

.clearfix::after { content: ""; clear: both; display: table; }

.text-uppercase { text-transform: uppercase !important; }

.flex-wrapper { display: block; }

@media (min-width: 992px) { .flex-wrapper { display: flex; align-items: center; justify-content: center; } }

.site-wrapper { position: relative; z-index: 5; max-width: 1400px; margin: 0 auto; padding: 0px 30px; }

@media (min-width: 1200px) { .site-wrapper { padding: 0px 60px; } }

.page-content { padding: 0; margin: 0; }

.moby { background: #60a511; /* Old browsers */ background: -moz-linear-gradient(-45deg, #60a511 0%, #125b0a 100%); /* FF3.6-15 */ background: -webkit-linear-gradient(-45deg, #60a511 0%, #125b0a 100%); /* Chrome10-25,Safari5.1-6 */ background: linear-gradient(135deg, #60a511 0%, #125b0a 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */ filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#60a511', endColorstr='#125b0a',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */ }

.moby .moby-close { background-color: #0f4807; color: #ffffff !important; }

.moby .moby-close span.moby-close-icon::before { background: #ffffff; }

.moby .moby-close span.moby-close-icon::after { background: #ffffff; }

.moby .moby-expand { color: #ffffff !important; }

.moby .telephone-area { display: none; }

.moby ul.menu { padding: 0px; }

.moby ul.menu li ul.sub-menu { padding: 0px; margin: 0px; }

.moby ul.menu li ul.sub-menu li { background-color: #0f4807; }

.moby ul.menu li ul.sub-menu li a { padding: 15px 30px 15px 30px; }

.moby ul.menu li a { padding: 30px 45px 30px 30px; border-bottom: 1px solid #ffffff; color: #ffffff; }

header { background: #ffffff; overflow-x: hidden; }

@media (min-width: 992px) { header .header-wrapper { padding-top: 7px; } }

header .header-wrapper .flex-wrapper { display: flex; justify-content: space-between; align-items: center; }

header .top-header { background-color: #60a511; padding: 10px; text-align: center; }

@media (min-width: 768px) { header .top-header { text-align: left; } }

header .top-header .text-right { display: none; }

@media (min-width: 768px) { header .top-header .text-right { text-align: right; display: block; } }

header .top-header p { font-size: 12px; color: #ffffff; }

header .top-header p span.separator { margin: 0px 10px; }

header .top-header p i { margin-right: 10px; }

header .top-header p a { font-weight: 600; color: #ffffff; }

header .mobile-menu-button { background-color: #021019; display: inline-block; width: 40px; height: 40px; text-align: center; border-radius: 5px; line-height: 40px; }

@media (min-width: 992px) { header .mobile-menu-button { display: none; } }

header .mobile-menu-button i { color: #ffffff; }

header .logo-area { width: 50%; margin-bottom: 15px; margin-top: 15px; }

@media (min-width: 992px) { header .logo-area { width: 25%; margin-top: 0px; } }

header .logo-area img { max-width: 100%; height: auto; }

@media (min-width: 992px) { header .logo-area img { max-width: 100%; } }

header .company-tagline { width: 100%; display: none; text-align: center; }

@media (min-width: 992px) { header .company-tagline { display: flex; flex-wrap: wrap; width: 75%; } }

header .company-tagline.mobile { display: block; text-align: center; margin-bottom: 15px; background-color: #021019; }

@media (min-width: 992px) { header .company-tagline.mobile { display: none; text-align: left; } }

header .company-tagline .info { width: 50%; }

header .company-tagline .info .inner-info { padding-bottom: 15px; text-align: left; display: flex; }

header .company-tagline .info .inner-info i { font-size: 28px; width: 15%; text-align: center; color: #60a511; }

header .company-tagline .info .inner-info p { width: 85%; font-weight: 600; }

header .company-tagline .info .inner-info p.large { font-size: 18px; color: #333333; }

header .company-tagline .info .inner-info p span.small { font-size: 16px; color: #9e9e9e; font-weight: 400; }

header .company-tagline span { color: #ffffff; font-weight: 300; font-size: 14px; }

@media (min-width: 768px) { header .company-tagline span { font-size: 24px; font-weight: 100; } }

@media (min-width: 992px) { header .company-tagline span { font-size: 38px; } }

header .bottom-header-wrapper { position: absolute; top: 200px; left: 0; right: 0; margin: auto; text-align: center; max-width: 1285px; z-index: 50; display: none; }

@media (min-width: 992px) { header .bottom-header-wrapper { display: block; } }

header .bottom-header-wrapper .menu-area { width: 100%; max-width: 1100px; border: 3px dashed #555555; }

header .bottom-header-wrapper .menu-area ul#menu-main-menu { padding: 5px; background-color: #272727; display: flex; }

header .bottom-header-wrapper .menu-area ul#menu-main-menu li { position: relative; list-style: none; }

@media (min-width: 992px) { header .bottom-header-wrapper .menu-area ul#menu-main-menu li { width: 200px; } }

@media (min-width: 1200px) { header .bottom-header-wrapper .menu-area ul#menu-main-menu li { width: 25%; } }

header .bottom-header-wrapper .menu-area ul#menu-main-menu li.current-menu-item a { color: #04a6e1; font-weight: 600; }

header .bottom-header-wrapper .menu-area ul#menu-main-menu li:last-child a { border-right: 0px; }

header .bottom-header-wrapper .menu-area ul#menu-main-menu li:hover ul.sub-menu { display: block; }

header .bottom-header-wrapper .menu-area ul#menu-main-menu li ul.sub-menu { display: none; position: absolute; top: 63px; left: -26px; width: 200px; height: auto; background-color: #272727; border-top: 3px dashed #555555; }

header .bottom-header-wrapper .menu-area ul#menu-main-menu li ul.sub-menu li { display: block; width: 100%; }

header .bottom-header-wrapper .menu-area ul#menu-main-menu li ul.sub-menu li a { display: block; width: 100%; text-align: left; padding: 15px; }

header .bottom-header-wrapper .menu-area ul#menu-main-menu li a { display: block; text-align: center; padding-top: 20px; padding-bottom: 20px; font-size: 18px; color: #ffffff; border-right: 3px dashed #555555; }

header .bottom-header-wrapper .menu-area ul#menu-main-menu li a:hover { color: #60a511; }

header .bottom-header-wrapper .menu-area .telephone-area { position: absolute; right: -715px; top: 0; background-color: #04a6e1; font-size: 18px; color: #ffffff; padding: 25px 20px; text-align: left; width: 900px; border-top: 3px dashed #555555; border-bottom: 3px dashed #555555; }

header .bottom-header-wrapper .menu-area .telephone-area i { margin-right: 15px; }

header .bottom-header-wrapper .menu-area .telephone-area span { letter-spacing: 1px; }

.homepage .intro-slider { position: relative; z-index: 10; }

.homepage .intro-slider .transparent-break { position: absolute; bottom: 0; left: 0; height: auto; z-index: 10; }

.homepage .intro-slider .item { background-size: cover; background-repeat: no-repeat; background-position: 50% 50%; padding: 100px 0px 100px 0px; text-align: center; color: #ffffff; }

@media (min-width: 992px) { .homepage .intro-slider .item { padding: 200px 0px 200px 0px; } }

@media (min-width: 1400px) { .homepage .intro-slider .item { padding: 250px 0px 250px 0px; } }

.homepage .intro-slider .item h1 { font-weight: 600; margin-bottom: 15px; }

@media (min-width: 992px) { .homepage .intro-slider .item h1 { font-size: 60px; margin-bottom: 0px; } }

.homepage .intro-slider .item h1 b { font-weight: 600; color: #04a6e1; }

.homepage .intro-slider .item p { max-width: 850px; margin: 0 auto; font-weight: 300; }

@media (min-width: 992px) { .homepage .intro-slider .item p { font-size: 24px; line-height: 34px; } }

.homepage .intro-slider .item .button-area { padding-top: 30px; max-width: 500px; margin: 0 auto; }

.homepage .intro-slider .item .button-area a { display: block; margin-bottom: 15px; font-size: 15px; }

@media (min-width: 992px) { .homepage .intro-slider .item .button-area a { display: block; margin-bottom: 0px; } }

.homepage .information-panel { padding: 30px 0px; }

.homepage .information-panel h2 { font-size: 48px; font-weight: 300; color: #272727; margin-bottom: 15px; }

.homepage .information-panel p { margin-bottom: 15px; color: #888686; font-size: 16px; line-height: 30px; }

.homepage .information-panel p.title { margin-bottom: 10px; color: #272727; font-size: 24px; line-height: 24px; margin-top: 10px; }

.homepage .information-panel img { margin-bottom: 15px; }

.homepage .why-beech-west { position: relative; padding: 30px 0px; }

.homepage .why-beech-west .title h3 { font-size: 48px; text-align: center; padding-bottom: 30px; }

.homepage .why-beech-west .content-wrapper { border: 1px dashed #60a511; margin-bottom: 30px; display: flex; justify-content: center; align-items: center; padding: 30px 30px 30px 45px; }

@media (min-width: 992px) { .homepage .why-beech-west .content-wrapper { max-height: 200px; padding: 60px; } }

.homepage .why-beech-west .content-wrapper .content .title span { color: #272727; font-size: 24px; font-weight: 600; }

.homepage .why-beech-west .content-wrapper .content .text p { font-size: 14px; color: #9e9e9e; line-height: 24px; }

.homepage .why-beech-west .content-wrapper .content .icon { position: absolute; top: 60px; left: -14px; width: 60px; height: 60px; background-color: #60a511; border-radius: 60px; text-align: center; border: 1px dashed #ffffff; }

.homepage .why-beech-west .content-wrapper .content .icon img { margin-top: 19px; }

@media (min-width: 992px) { .homepage .split-panel { display: flex; justify-content: space-between; } }

.homepage .split-panel .split { text-align: center; margin: 0 auto; }

@media (min-width: 992px) { .homepage .split-panel .split { text-align: left; width: 50%; } }

.homepage .split-panel .split .item { background-size: cover; background-repeat: no-repeat; background-position: 50% 50%; padding: 100px 0px 100px 0px; }

@media (min-width: 992px) { .homepage .split-panel .split .item { padding: 200px 0px 200px 0px; } }

@media (min-width: 1400px) { .homepage .split-panel .split .item { padding: 250px 0px 250px 0px; } }

.homepage .split-panel .split .title { padding-top: 0px; }

@media (min-width: 992px) { .homepage .split-panel .split .title { padding-left: 40px; } }

.homepage .split-panel .split .title span { font-size: 36px; }

.homepage .split-panel .split .contact-form-wrapper { padding: 20px 40px 15px 40px; }

@media (min-width: 992px) { .homepage .split-panel .split .contact-form-wrapper { padding: 20px 40px 0px 40px; max-width: 580px; } }

.homepage .split-panel .split .contact-form-wrapper input, .homepage .split-panel .split .contact-form-wrapper textarea { width: 100%; display: block; border: 1px solid #e8e8e8; border-radius: 0px; padding: 8px; }

.homepage .split-panel .split .contact-form-wrapper textarea { height: 125px; }

.homepage .split-panel .split .contact-form-wrapper label { display: block; }

.homepage .split-panel .split .contact-form-wrapper input[type="submit"] { padding: 15px 40px; text-transform: uppercase; border-radius: 0px; font-weight: 600; display: inline-block !important; background-color: #60a511; color: #ffffff; transition: all 0.5s ease; max-width: 180px; float: right; }

.homepage .split-panel .split .contact-form-wrapper input[type="submit"]:hover { color: #182a3e; background-color: #04a6e1; }

.homepage .radio-promo-panel { background-image: url("../images/radio-promo-background.jpg"); background-size: cover; background-repeat: no-repeat; background-position: 50% 50%; padding: 90px 0px; text-align: center; }

.homepage .radio-promo-panel .title { font-size: 36px; color: #ffffff; font-weight: 400; margin-bottom: 10px; }

.homepage .radio-promo-panel p { max-width: 920px; margin: 0 auto; color: #ffffff; font-size: 18px; font-weight: 400; padding-bottom: 30px; }

footer #gmap { height: 430px; width: 100%; }

footer .custom-footer { padding: 30px 0px 10px 0px; background-image: url("../images/footer-background.jpg"); background-size: cover; background-repeat: no-repeat; background-position: 50% 50%; text-align: center; }

@media (min-width: 768px) { footer .custom-footer { text-align: left; } }

footer .custom-footer .footer-title { font-weight: 600; font-size: 22px; color: #ffffff; margin-bottom: 15px; }

footer .custom-footer .button-area { padding-top: 30px; padding-bottom: 30px; }

@media (min-width: 768px) { footer .custom-footer .button-area { padding-top: 15px; padding-bottom: 0px; } }

footer .custom-footer p { font-size: 16px; color: #9e9e9e; padding-bottom: 15px; line-height: 30px; }

footer .custom-footer .list ul { padding-left: 15px; }

footer .custom-footer .list ul li { list-style: none; font-size: 16px; color: #9e9e9e; margin-bottom: 15px; }

footer .custom-footer .list ul li a { color: #9e9e9e; }

footer .custom-footer .contact-information .contact { display: flex; }

footer .custom-footer .contact-information .contact i { color: #9d9d9d; width: 10%; position: relative; top: 5px; }

footer .custom-footer .contact-information .contact p { color: #9d9d9d; width: 90%; }

footer .custom-footer .bottom-footer { margin-top: 15px; padding-top: 15px; border-top: 3px dashed #555555; text-align: center; }

@media (min-width: 992px) { footer .custom-footer .bottom-footer { margin-top: 40px; text-align: left; } }

footer .custom-footer .bottom-footer p { padding-bottom: 0px; color: #383838; }

footer .custom-footer .bottom-footer a { color: #383838; }

footer .custom-footer .bottom-footer .text-right { text-align: center !important; }

@media (min-width: 992px) { footer .custom-footer .bottom-footer .text-right { text-align: right !important; } }

.about-us .custom-header-area { background-image: url("../images/custom-header-background-2.jpg"); }

.about-us .page-content { padding: 60px 0px; }

.about-us .page-content h2.intro-title { font-size: 48px; color: #272727; margin-bottom: 15px; }

.about-us .page-content p.intro-content { color: #909090; margin-bottom: 15px; line-height: 30px; }

.about-us .page-content .stats { padding-top: 15px; }

.about-us .page-content .stats .number { font-weight: 600; font-size: 48px; color: #60a511; line-height: 1; }

.about-us .page-content .stats .stat-type { color: #909090; font-size: 18px; }

.about-us .page-content .faq-content-wrapper { padding-top: 45px; }

.about-us .page-content .faq-content-wrapper .faq-content { padding-top: 30px; }

.about-us .page-content .faq-content-wrapper .faq-content .faq-title { text-align: center; font-size: 24px; font-weight: 600; padding: 10px; border: 1px dashed #60a511; max-width: 200px; margin: 0 auto; color: #60a511; }

.about-us .page-content .faq-content-wrapper .faq-content p { color: #909090; font-size: 16px; margin-bottom: 5px; }

.about-us .landscape-ontario { background-image: url("../images/landscape-ontario-background.jpg"); background-size: cover; background-repeat: no-repeat; background-position: 50% 50%; padding: 90px 0px; text-align: center; }

.about-us .landscape-ontario .title { font-size: 48px; color: #ffffff; text-align: center; font-weight: 600; }

.about-us .landscape-ontario img { margin: 60px auto 60px auto; }

.about-us .landscape-ontario p { color: #ffffff; font-size: 18px; line-height: 30px; max-width: 700px; margin: 0 auto; font-weight: 300; }

.about-us .management-team { padding: 60px 0px; }

.about-us .management-team .management-title { font-size: 48px; font-weight: 600; margin-bottom: 30px; }

.about-us .management-team img { margin-bottom: 15px; }

.about-us .management-team .person-name { font-size: 24px; color: #272727; font-weight: 600; }

.about-us .management-team .person-title { font-weight: 400; color: #60a511; font-size: 18px; padding-bottom: 10px; }

.about-us .management-team .person-content { font-size: 16px; color: #9e9e9e; margin-bottom: 10px; }

.about-us .management-team .person-email { color: #909090; }

.about-us .management-team .person-email i { margin-right: 10px; }

.services-page .custom-header-area { padding: 130px 0px 90px 0px; background-image: url("../images/services-header-image.jpg"); }

.services-page .content { padding-top: 60px; }

.services-page .content .service { padding-bottom: 60px; }

.services-page .content .service img { margin-bottom: 15px; }

.services-page .content .service .service-title { font-size: 32px; font-weight: 600; margin-bottom: 15px; }

.services-page .content .service p { margin-bottom: 15px; color: #909090; max-width: 520px; }

.services-page .content .service p.right { margin-left: auto; }

.services-page .content .service-full p { margin-bottom: 15px; color: #909090; }

.catalog { padding: 30px 0px; }

.catalog .post-thumbnail { display: none; }

.catalog .entry-title { display: none; }

.catalog i { font-size: 36px !important; display: block; width: 100% !important; margin-bottom: 15px !important; }

.catalog .entry-content a { color: #60a511; }

.products-page .product-content { padding: 60px 0px; }

.products-page .product-content .intro-content { font-size: 22px; color: #323232; max-width: 750px; margin: 0 auto; text-align: center; }

.products-page .product-content .photo-gallery { padding-top: 45px; padding-bottom: 30px; margin: 0 auto; text-align: center; max-width: 1100px; }

.products-page .product-content .photo-gallery .image-wrapper { float: left; }

.products-page .product-content .split-content { padding-top: 30px; }

.careers-page .custom-header-area { padding: 130px 0px 90px 0px; background-image: url("../images/landscape-ontario-background.jpg"); }

.careers-page .careers-content { padding: 60px; }

span.wpcf7-list-item { display: inline-block; margin: 0 0 0 1em; width: 13px; margin-left: 0px; }

.contact-page .custom-header-area { padding: 130px 0px 90px 0px; background-image: url("../images/custom-header-background-2.jpg"); }

.contact-page .introduction { padding: 30px 0px; }

.contact-page .introduction p { font-size: 16px; line-height: 24px; color: #909090; }

.contact-page h3 { font-size: 30px; color: #323232; font-weight: 600; }

.contact-page .information-wrapper .info { display: flex; padding: 30px 0px; }

.contact-page .information-wrapper .info .icon { width: 60px; height: 60px; background-color: #60a511; border-radius: 60px; text-align: center; border: 1px dashed #ffffff; margin-right: 15px; }

.contact-page .information-wrapper .info .icon img { margin-top: 19px; }

.contact-page .information-wrapper .info .content { font-size: 16px; line-height: 24px; color: #909090; }

.contact-page .information-wrapper .info .content span { color: #333333; font-size: 24px; display: block; margin-bottom: 10px; }

.contact-page .information-wrapper .info .content .hours-content span.day { display: inline-block; font-size: 16px; line-height: 24px; min-width: 100px; color: #909090; margin-right: 15px; margin-bottom: 0px; }

.contact-page .contact-form-wrapper input, .contact-page .contact-form-wrapper textarea { width: 100%; display: block; border: 1px solid #e8e8e8; border-radius: 0px; padding: 15px; }

.contact-page .contact-form-wrapper textarea { height: 125px; }

.contact-page .contact-form-wrapper label { display: block; margin-bottom: 30px; }

.contact-page .contact-form-wrapper input[type="submit"] { padding: 15px 40px; text-transform: uppercase; border-radius: 0px; font-weight: 600; display: inline-block !important; background-color: #60a511; color: #ffffff; transition: all 0.5s ease; max-width: 180px; float: right; }

.contact-page .contact-form-wrapper input[type="submit"]:hover { color: #182a3e; background-color: #04a6e1; }

/*# sourceMappingURL=custom.css.map */