// -- Breakpoints (Media Querys set to boostrap sizes).
$xs: 380px;
$sm: 768px;
$md: 992px;
$lg: 1200px;
$xl: 1400px;

$breakpoints: (
    'xs': (min-width: $xs),
    'sm': (min-width: $sm),
    'md': (min-width: $md),
    'lg': (min-width: $lg),
    'xl': (min-width: $xl),
);

@mixin breakpoint($name) {
    @if map-has-key($breakpoints, $name) {
        @media #{inspect(map-get($breakpoints, $name))} {
            @content;
        }
    }

    @else {
        @warn "Couldn't find a breakpoint named `#{$name}`.";
    }
}

* {
    font-family: 'Montserrat', sans-serif !important;
    box-sizing:border-box;

    .grecaptcha-badge {
        display: none !important;
    }
    
    i {
        &.fab {
            font-family: "Font Awesome 5 Brands" !important;
        }
        &.fas {
            font-family: "Font Awesome 5 Free" !important;
        }
        &.far {
            font-family: "Font Awesome 5 Free" !important;
        }
    }

    ul, li, h1, h2, h3, h4, h5, h6, p {
        padding:0px;
        margin:0px;
    }

    body {
        overflow-x : hidden;
        margin:0px !important;
    }

    em {
        font-weight:400 !important;
    }

    .site {
        position:relative;
    }

}

// Globals
$branding-blue: #04a6e1;
$branding-green: #60a511;
$branding-dark-blue: #182a3e;

body.page-template-tp-catalog {
    // overflow:auto;
}

span.blue {
    color: $branding-blue !important;
}

span.green {
    color: $branding-green !important;
}

span.thin {
    font-weight:300 !important;
}

span.thick {
    font-weight:600 !important;
}

.catalog-download {
    background-image:url('../images/catalog-download-background.jpg');
    background-size:cover;
    background-repeat:no-repeat;
    background-position:50% 50%;
    padding:90px 0px;
    text-align:center;
    .catalog-content {
        padding:15px;
        border:3px dashed #ffffff;
        p {
            position: relative;
            top: 5px;
            font-size:28px;
            color:#ffffff;
            font-weight:400;
            display:inline-block;
            margin-right:30px;
            text-shadow: 2px 2px 5px #3c3c3c;
            margin-bottom:30px;
            @include breakpoint(md) {
                margin-bottom:0px;
            }
        }
        a {
            display:inline-block;
        }
    }
}

.group-of-companies {
    .title {
        font-size:48px;
        text-align:center;
        padding:30px 0px;
        font-weight:300;
    }
    .custom-flex-wrapper {
        @include breakpoint(lg) {
            display:flex;
            justify-content: center;
        }
    }

    .company {
        padding:90px 45px 90px 45px;
        position:relative;
        background-size:cover;
        background-repeat:no-repeat;
        background-position:50% 50%;
        width:100%;
        @include breakpoint(lg) {
            padding:180px 90px 180px 90px;
            width:33.33%;
        }
        &.corporate {
            background-image:url('../images/companies-corporate.jpg');
        }
        &.toronto {
            background-image:url('../images/companies-toronto.jpg');
        }
        &.spading {
            background-image:url('../images/companies-spading.jpg');
        }
        .dashed-border {
            position: absolute;
            top: 2%;
            left: 2%;
            bottom: 2%;
            right: 2%;
            margin: 0 auto;
            border: 1px dashed #ffffff;
        }
        .company-title {
            color:#ffffff;
            font-size:24px;
            margin-bottom:15px;
            font-weight:600;
        }
        p {
            color:#ffffff;
            font-size:15px;
            font-weight:400;
            line-height:28px;

            @include breakpoint(lg) {
                max-width:380px;
            }
        }
        .button-area {
            margin-top:30px;
            a {
                position:relative;
                z-index:10;
            }
        }

    }
}

.contact-promo {
    background-image:url('../images/contact-promo-background.jpg');
    background-size:cover;
    background-repeat:no-repeat;
    background-position:50% 50%;
    padding:45px 0px;
    text-align:center;
    .catalog-content {
        padding:15px;
        p {
            position: relative;
            top: 5px;
            font-size:28px;
            color:#ffffff;
            font-weight:400;
            display:inline-block;
            margin-right:30px;
            text-shadow: 2px 2px 5px #3c3c3c;
        }
        a {
            display:inline-block;
        }
    }
}

a.custom-button {
    padding:15px 40px;
    text-transform:uppercase;
    border-radius: 0px;
    font-weight:600;
    &.blue {
        background-color:$branding-blue;
        color:#ffffff;
        &:hover {
            color:$branding-dark-blue;
            background-color:$branding-green;
        }
    }
    &.green {
        background-color:$branding-green;
        color:#ffffff;
        &:hover {
            color:$branding-dark-blue;
            background-color:$branding-blue;
        }
    }
    &.white {
        background-color:#ffffff;
        color:$branding-green;
        &:hover {
            color:$branding-dark-blue;
            background-color:$branding-blue;
        }
    }
}

a, button {
    transition: all 0.5s ease;
    outline: 0 !important;
    text-decoration: none !important;
}

.custom-header-area {
    background-size:cover;
    background-repeat:no-repeat;
    background-position: 50% 50%;
    padding: 180px 0px 120px 0px;
    .title {
        h1 {
            text-align:center;
            color:#ffffff;
            font-weight:600;
            text-shadow: 2px 2px 5px #3c3c3c;
            font-size:60px;
        }
    }
}

// -- Breakpoints (Media Querys set to boostrap sizes).
$xs: 380px;
$sm: 768px;
$md: 992px;
$lg: 1200px;
$xl: 1400px;

$breakpoints: (
    'xs': (min-width: $xs),
    'sm': (min-width: $sm),
    'md': (min-width: $md),
    'lg': (min-width: $lg),
    'xl': (min-width: $xl),
);

@mixin breakpoint($name) {
    @if map-has-key($breakpoints, $name) {
        @media #{inspect(map-get($breakpoints, $name))} {
            @content;
        }
    }

    @else {
        @warn "Couldn't find a breakpoint named `#{$name}`.";
    }
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

.text-uppercase {
    text-transform:uppercase !important;
}

.flex-wrapper {
    display:block;
    @include breakpoint(md) {
        display:flex;
        align-items: center;
        justify-content: center;
    }
}

.site-wrapper {
    position:relative;
    z-index:5;
    max-width:1400px;
    margin:0 auto;
    padding:0px 30px;
    @include breakpoint(lg) {
        padding:0px 60px;
    }
}

.page-content {
    padding:0;
    margin:0;
}

// Moby
.moby {
    background: #60a511; /* Old browsers */
    background: -moz-linear-gradient(-45deg, #60a511 0%, #125b0a 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(-45deg, #60a511 0%,#125b0a 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(135deg, #60a511 0%,#125b0a 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#60a511', endColorstr='#125b0a',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
    .moby-close {
        background-color:#0f4807;
        color:#ffffff !important;
        span.moby-close-icon {
            &::before {
                background:#ffffff;
            }
            &::after {
                background:#ffffff;
            }
        };
    }
    .moby-expand {
        color:#ffffff !important;
    }
    .telephone-area {
        display:none;
    }
    ul.menu {
        padding:0px;
        li {
            ul.sub-menu {
                padding:0px;
                margin:0px;
                li {
                    background-color:#0f4807;
                    a {
                        padding:15px 30px 15px 30px;
                    }
                }
            }
            a {
                padding: 30px 45px 30px 30px;
                border-bottom:1px solid #ffffff;
                color:#ffffff;
            }
        }
    }
}

header {
    background: #ffffff;
    overflow-x: hidden;

    .header-wrapper {
        @include breakpoint(md) {
            padding-top:7px;
        }
        .flex-wrapper {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
    }

    .top-header {
        background-color:$branding-green;
        padding:10px;
        text-align:center;
        @include breakpoint(sm) {
            text-align:left;
        }
        .text-right {
            display:none;
            @include breakpoint(sm) {
                text-align:right;
                display:block;
            }
        }
        p {
            font-size:12px;
            color:#ffffff;
            span.separator {
                margin:0px 10px;
            }
            i {
                margin-right:10px;
            }
            a {
                font-weight:600;
                color:#ffffff;
            }
        }
    }

    .mobile-menu-button {
        background-color: #021019;
        display: inline-block;
        width: 40px;
        height: 40px;
        text-align: center;
        border-radius: 5px;
        line-height: 40px;
        @include breakpoint(md) {
            display:none;
        }
        i {
            color:#ffffff;
        }
    }

    .logo-area {
        width:50%;
        margin-bottom:15px;
        margin-top:15px;
        @include breakpoint(md){
            width:25%;
            margin-top:0px;
        }
        img {
            max-width:100%;
            height:auto;
            @include breakpoint(md) {
                max-width:100%;
            }
        }
    }

    .company-tagline {
        width:100%;
        display:none;
        text-align:center;
        @include breakpoint(md) {
            display:flex;
            flex-wrap:wrap;
            width:75%;
        }
        &.mobile {
            display:block;
            text-align:center;
            margin-bottom:15px;
            background-color:#021019;
            @include breakpoint(md) {
                display:none;
                text-align:left;
            }
        }
        .info {
            width:50%;
            .inner-info {
                padding-bottom:15px;
                text-align:left;
                display:flex;
                i {
                    font-size: 28px;
                    width: 15%;
                    text-align: center;
                    color: $branding-green;
                }
                p {
                    width:85%;
                    font-weight:600;
                    &.large {
                        font-size:18px;
                        color:#333333;
                    }
                    span.small {
                        font-size:16px;
                        color:#9e9e9e;
                        font-weight:400;
                    }
                }
            }
        }
        span {
            color:#ffffff;
            font-weight:300;
            font-size:14px;
            @include breakpoint(sm) {
                font-size:24px;
                font-weight:100;
            }
            @include breakpoint(md) {
                font-size:38px;
            }
        }
    }

    .bottom-header-wrapper {
        position: absolute;
        top: 200px;
        left: 0;
        right: 0;
        margin: auto;
        text-align: center;
        max-width: 1285px;
        z-index:50;
        display:none;
        @include breakpoint(md) {
            display:block;
        }
        .menu-area {
            width:100%;
            max-width:1100px;
            border:3px dashed #555555;
            ul#menu-main-menu{
                padding:5px;
                background-color:#272727;
                display:flex;
                li {
                    position:relative;
                    list-style:none;
                    @include breakpoint(md) {
                        width: 200px;
                    }
                    @include breakpoint(lg) {
                        width:25%;
                    }
                    &.current-menu-item {
                        a {
                            color:$branding-blue;
                            font-weight:600;
                        }
                    }
                    &:last-child {
                        a {
                            border-right:0px;
                        }
                    }
                    &:hover {
                        ul.sub-menu {
                            display:block;
                        }
                    }
                    ul.sub-menu {
                        display:none;
                        position: absolute;
                        top: 63px;
                        left: -26px;
                        width: 200px;
                        height: auto;
                        background-color: #272727;
                        border-top: 3px dashed #555555;
                        li {
                            display:block;
                            width:100%;
                            a {
                                display:block;
                                width:100%;
                                text-align:left;
                                padding:15px;
                            }
                        }
                    }
                    a {
                        display:block;
                        text-align:center;
                        padding-top:20px;
                        padding-bottom:20px;
                        font-size:18px;
                        color:#ffffff;
                        border-right:3px dashed #555555;
                        &:hover {
                            color:$branding-green;
                        }
                    }
                }
            }
            .telephone-area {
                position: absolute;
                right: -715px;
                top: 0;
                background-color: #04a6e1;
                font-size: 18px;
                color: #ffffff;
                padding: 25px 20px;
                text-align: left;
                width: 900px;
                border-top:3px dashed #555555;
                border-bottom:3px dashed #555555;
                i {
                    margin-right:15px;
                }
                span {
                    letter-spacing:1px;
                }
            }
        }
    }
}

.homepage {

    .intro-slider {
        position:relative;
        z-index:10;
        .transparent-break {
            position:absolute;
            bottom:0;
            left:0;
            height:auto;
            z-index:10;
        }
        .item {
            background-size:cover;
            background-repeat:no-repeat;
            background-position: 50% 50%;
            padding: 100px 0px 100px 0px;
            @include breakpoint(md) {
                padding: 200px 0px 200px 0px;
            }
            @include breakpoint(xl) {
                padding: 250px 0px 250px 0px;
            }
            text-align:center;
            color:#ffffff;
            h1 {
                font-weight:600;
                margin-bottom:15px;
                @include breakpoint(md) {
                    font-size:60px;
                    margin-bottom:0px;
                }
                b {
                    font-weight:600;
                    color:$branding-blue;
                }
            }
            p {
                max-width:850px;
                margin:0 auto;
                font-weight:300;
                @include breakpoint(md) {
                    font-size:24px;
                    line-height:34px;
                }
            }
            .button-area {
                padding-top:30px;
                max-width:500px;
                margin:0 auto;
                a {
                    display:block;
                    margin-bottom:15px;
                    font-size:15px;
                    @include breakpoint(md) {
                        display:block;
                        margin-bottom:0px;
                    }
                }
            }
        }
    }
    .information-panel {
        padding:30px 0px;
        h2 {
            font-size:48px;
            font-weight:300;
            color:#272727;
            margin-bottom:15px;
        }
        p {
            margin-bottom:15px;
            color:#888686;
            font-size:16px;
            line-height:30px;
        }
        p.title {
            margin-bottom:10px;
            color:#272727;
            font-size:24px;
            line-height:24px;
            margin-top:10px;
        }
        img {
            margin-bottom:15px;
        }
    }
    .why-beech-west {
        position:relative;
        padding:30px 0px;
        .title {
            h3 {
                font-size:48px;
                text-align:center;
                padding-bottom:30px;
            }
        }
        .content-wrapper {
            border: 1px dashed $branding-green;
            margin-bottom: 30px;
            display: flex;
            justify-content: center;
            align-items: center;
            padding:30px 30px 30px 45px;
            @include breakpoint(md) {
                max-height: 200px;
                padding:60px;
            }
            .content {
                .title {
                    span {
                        color:#272727;
                        font-size:24px;
                        font-weight:600;
                    }
                }
                .text {
                    p {
                        font-size:14px;
                        color:#9e9e9e;
                        line-height:24px;
                    }
                }
                .icon {
                    position:absolute;
                    top: 60px;
                    left:-14px;
                    width:60px;
                    height:60px;
                    background-color:$branding-green;
                    border-radius:60px;
                    text-align:center;
                    border:1px dashed #ffffff;
                    img{
                        margin-top:19px;
                    }
                }
            }
        }
    }
    .split-panel {
        @include breakpoint(md) {
            display:flex;
            justify-content: space-between;
        }
        .split {
            text-align:center;
            margin:0 auto;
            @include breakpoint(md) {
                text-align:left;
                width:50%;
            }
            .item {
                background-size:cover;
                background-repeat:no-repeat;
                background-position: 50% 50%;
                padding: 100px 0px 100px 0px;
                @include breakpoint(md) {
                    padding: 200px 0px 200px 0px;
                }
                @include breakpoint(xl) {
                    padding: 250px 0px 250px 0px;
                }
            }
            .title {
                padding-top:0px;
                @include breakpoint(md) {
                    padding-left:40px;
                }
                span {
                    font-size:36px;
                }
            }
            .contact-form-wrapper {
                padding:20px 40px 15px 40px;
                @include breakpoint(md) {
                    padding:20px 40px 0px 40px;
                    max-width:580px;
                }
                input, textarea {
                    width: 100%;
                    display: block;
                    border: 1px solid #e8e8e8;
                    border-radius: 0px;
                    padding: 8px;
                }
                textarea {
                    height:125px;
                }

                label {
                    display:block;
                }

                input[type="submit"] {
                    padding:15px 40px;
                    text-transform:uppercase;
                    border-radius: 0px;
                    font-weight:600;
                    display:inline-block !important;
                    background-color:$branding-green;
                    color:#ffffff;
                    transition: all 0.5s ease;
                    max-width:180px;
                    float:right;
                    &:hover {
                        color:$branding-dark-blue;
                        background-color:$branding-blue;
                    }
                }
            }
        }
    }
    .radio-promo-panel {
        background-image:url('../images/radio-promo-background.jpg');
        background-size:cover;
        background-repeat:no-repeat;
        background-position:50% 50%;
        padding:90px 0px;
        text-align:center;
        .title {
            font-size:36px;
            color:#ffffff;
            font-weight:400;
            margin-bottom:10px;
        }
        p {
            max-width:920px;
            margin:0 auto;
            color:#ffffff;
            font-size:18px;
            font-weight:400;
            padding-bottom:30px;
        }
    }
}

footer {
    #gmap {
        height:430px;
        width:100%;
    }
    .custom-footer {
        padding: 30px 0px 10px 0px;
        background-image:url('../images/footer-background.jpg');
        background-size:cover;
        background-repeat:no-repeat;
        background-position:50% 50%;
        text-align:center;
        @include breakpoint(sm) {
            text-align:left;
        }
        .footer-title {
            font-weight:600;
            font-size:22px;
            color:#ffffff;
            margin-bottom:15px;
        }
        .button-area {
            padding-top:30px;
            padding-bottom:30px;
            @include breakpoint(sm) {
                padding-top: 15px;
                padding-bottom:0px;
            }
        }
        p {
            font-size:16px;
            color:#9e9e9e;
            padding-bottom:15px;
            line-height:30px;
        }
        .list {
            ul {
                padding-left:15px;
                li {
                    list-style:none;
                    font-size:16px;
                    color:#9e9e9e;
                    margin-bottom:15px;
                     a{
                         color:#9e9e9e;
                     }
                }
            }
        }
        .contact-information {
            .contact {
                display:flex;
                i {
                    color:#9d9d9d;
                    width:10%;
                    position:relative;
                    top:5px;
                }
                p {
                    color:#9d9d9d;
                    width:90%;
                }
            }
        }
        .bottom-footer {
            margin-top:15px;
            padding-top:15px;
            border-top:3px dashed #555555;
            text-align:center;
            @include breakpoint(md) {
                margin-top:40px;
                text-align:left;
            }
            p {
                padding-bottom:0px;
                color:#383838;
            }
            a {
                color:#383838;
            }
            .text-right {
                text-align:center !important;
                @include breakpoint(md) {
                    text-align: right !important;
                }
            }
        }
    }
}

.about-us {
    .custom-header-area {
        background-image:url('../images/custom-header-background-2.jpg');
    }
    .page-content {
        padding:60px 0px;
        h2.intro-title {
            font-size:48px;
            color:#272727;
            margin-bottom:15px;
        }
        p.intro-content {
            color:#909090;
            margin-bottom:15px;
            line-height:30px;
        }
        .stats {
            padding-top:15px;
            .number {
                font-weight:600;
                font-size:48px;
                color:$branding-green;
                line-height:1;
            }
            .stat-type {
                color:#909090;
                font-size:18px;
            }
        }
        .faq-content-wrapper {
            padding-top:45px;
            .faq-content {
                padding-top:30px;
                .faq-title {
                    text-align:center;
                    font-size:24px;
                    font-weight:600;
                    padding:10px;
                    border:1px dashed $branding-green;
                    max-width:200px;
                    margin:0 auto;
                    color:$branding-green;
                }
                p {
                    color:#909090;
                    font-size:16px;
                    margin-bottom:5px;
                }
            }
        }
    }
    .landscape-ontario {
        background-image:url('../images/landscape-ontario-background.jpg');
        background-size:cover;
        background-repeat:no-repeat;
        background-position:50% 50%;
        padding:90px 0px;
        text-align:center;
        .title {
            font-size:48px;
            color:#ffffff;
            text-align:center;
            font-weight:600;
        }
        img {
            margin: 60px auto 60px auto;
        }
        p {
            color:#ffffff;
            font-size:18px;
            line-height:30px;
            max-width:700px;
            margin:0 auto;
            font-weight:300;
        }
    }

    .management-team {
        padding:60px 0px;
        .management-title {
            font-size:48px;
            font-weight:600;
            margin-bottom:30px;
        }
        img {
            margin-bottom:15px;
        }
        .person-name {
            font-size:24px;
            color:#272727;
            font-weight:600;
        }
        .person-title {
            font-weight:400;
            color:$branding-green;
            font-size:18px;
            padding-bottom:10px;
        }
        .person-content {
            font-size:16px;
            color:#9e9e9e;
            margin-bottom:10px;
        }
        .person-email {
            color:#909090;
            i {
                margin-right:10px;
            }
        }
    }
}

.services-page {
    .custom-header-area {
        padding: 130px 0px 90px 0px;
        background-image:url('../images/services-header-image.jpg');
    }
    .content {
        padding-top:60px;
        .service{
            padding-bottom:60px;
            img {
                margin-bottom:15px;
            }
            .service-title {
                font-size:32px;
                font-weight:600;
                margin-bottom:15px;
            }
            p {
                margin-bottom:15px;
                color:#909090;
                max-width:520px;
                &.right {
                    margin-left:auto;
                }
            }
        }
        .service-full {
            p {
                margin-bottom:15px;
                color:#909090;
            }
        }
    }
}

.catalog {
    padding:30px 0px;
    .post-thumbnail {
        display:none;
    }
    .entry-title {
        display:none;
    }
    i {
        font-size:36px !important;
        display:block;
        width:100% !important;
        margin-bottom:15px !important;
    }
    .entry-content {
        a {
            color:$branding-green;
        }
    }
}

.products-page {
    .product-content {
        padding:60px 0px;
        .intro-content {
            font-size:22px;
            color:#323232;
            max-width:750px;
            margin:0 auto;
            text-align:center;
        }
        .photo-gallery {
            padding-top:45px;
            padding-bottom:30px;
            margin:0 auto;
            text-align:center;
            max-width:1100px;
            .image-wrapper {
                float:left;
            }
        }
        .split-content {
            padding-top:30px;
        }
    }
}

.careers-page {
    .custom-header-area {
        padding: 130px 0px 90px 0px;
        background-image:url('../images/landscape-ontario-background.jpg');
    }
    .careers-content {
        padding:60px;
    }
}

span.wpcf7-list-item {
    display: inline-block;
    margin: 0 0 0 1em;
    width: 13px;
    margin-left: 0px;
}

.contact-page {
    .custom-header-area {
        padding: 130px 0px 90px 0px;
        background-image:url('../images/custom-header-background-2.jpg');
    }
    .introduction {
        padding:30px 0px;
        p {
            font-size:16px;
            line-height:24px;
            color:#909090;
        }
    }
    h3 {
        font-size:30px;
        color:#323232;
        font-weight:600;
    }
    .information-wrapper {
        .info {
            display:flex;
            padding:30px 0px;
            .icon {
                width:60px;
                height:60px;
                background-color:$branding-green;
                border-radius:60px;
                text-align:center;
                border:1px dashed #ffffff;
                margin-right:15px;
                img{
                    margin-top:19px;
                }
            }
            .content {
                font-size:16px;
                line-height:24px;
                color:#909090;
                span {
                    color:#333333;
                    font-size:24px;
                    display:block;
                    margin-bottom:10px;
                }
                .hours-content {
                    span.day {
                        display:inline-block;
                        font-size:16px;
                        line-height:24px;
                        min-width:100px;
                        color:#909090;
                        margin-right:15px;
                        margin-bottom:0px;
                    }
                }
            }
        }

    }
    .contact-form-wrapper {
        // padding:60px;
        input, textarea {
            width: 100%;
            display: block;
            border: 1px solid #e8e8e8;
            border-radius: 0px;
            padding: 15px;
        }
        textarea {
            height:125px;
        }

        label {
            display:block;
            margin-bottom:30px;
        }

        input[type="submit"] {
            padding:15px 40px;
            text-transform:uppercase;
            border-radius: 0px;
            font-weight:600;
            display:inline-block !important;
            background-color:$branding-green;
            color:#ffffff;
            transition: all 0.5s ease;
            max-width:180px;
            float:right;
            &:hover {
                color:$branding-dark-blue;
                background-color:$branding-blue;
            }
        }
    }
}
